 
.cards
{
    list-style-type: none;
    color: White;
}

.cards li
{
    margin: 10px;
    
    /* rounded corners to make look like GL cards */
    border-radius: 0px 25px 25px 0px; 
    -moz-border-radius: 0px 25px 25px 0px; 
    -webkit-border-radius: 0px 25px 25px 0px; 

    height: 150px;
}

.cards.red li
{
     background-color: #f00;
}

.cards.green li
{
     background-color: #69d458
}

.cards li div:nth-child(1)
{
    padding: 5px;
    font-size: 35px;
    border: 1px solid black;
    height: 130px;
    float: left;
    width: 60%;
}

/* green cards have a second div with vertical text */
.cards li div:nth-child(2)
{
    padding: 5px;
    background-color: #ffd800;
    float: left;
    font-size: 20px;
    height:  130px;
    
     transform:rotate(90deg);
    -moz-transform:rotate(90deg);
    -o-transform:rotate(90deg);
    -webkit-transform:rotate(90deg);
    -ms-transform:rotate(90deg);
    border: 1px solid red;
}

.cards li div:nth-child(2) p {
    
    
     
}

 
