 
.cards
{
    list-style-type: none;
    color: White;
}

.cards li
{
    margin: 10px;
    
    /* rounded corners to make look like GL cards */
    border-radius: 0px 45px 45px 0px; 
    -moz-border-radius: 0px 45px 45px 0px; 
    -webkit-border-radius: 0px 45px 45px 0px; 

    height: 150px;
    font-weight:bolder;    
    padding-left: 30px;
}

.cards.red li
{
     background-color: #f00;
     font-size: 25px;
}

.cards.green li
{
     background-color: #69d458;
     font-size: 40px;
}

.cards li span {
    height: 130px; 
    display: table-cell; 
    vertical-align: bottom
}

 
